<nav class="main-nav container">

  <!-- Links for normal screen -->
  <ul class="normal-screen">
    <li><a class="pointer text-decoration-none text-dark" routerLink="/">Home</a></li>
    <li><a class="pointer text-decoration-none text-dark" routerLink="/tags">Tags</a></li>
    <li><a class="pointer text-decoration-none text-dark" routerLink="/categories">Categories</a></li>
    <li><a class="pointer text-decoration-none text-dark" routerLink="/items">Items</a></li>
  </ul>

  <!-- Links for small screen -->
  <app-dropdown [props]="dropdownProps" class="small-screen "></app-dropdown>

  @if (isLoggedIn) {
    <button type="button" class="btn" (click)="logout()">Logout</button>
  } 
  @else {
    <button type="button" class="btn" (click)="navigateToLogin()">Login</button>
  }
</nav>
