<!-- List of Categories -->
<div class="container">
  <app-list 
    [items]="categoriesList" 
    [title]="'CATEGORIES'"
    (onItemAdd)="onItemAdd()"
    (onItemEdit)="onItemEdit($event)"
    (onItemDelete)="onItemDelete($event)"
  ></app-list>
</div>



<!-- Modal with create/edit/delete forms -->
 <app-modal #modalRef (confirmed)="onModalConfirm()" (closed)="onModalClose()">
  <ng-template #modalContent>
    
    <!-- Add Category -->
    <div *ngIf="categoryAction === CategoryAction.ADD" class="d-flex flex-column justify-content-center align-items-center">
      <h2>Add Category</h2>
      <br />
      <p>Please enter a name and a description for the new category</p>
      <app-form 
        [formGroup]="addCategoryForm" 
        [fields]="addCategoryFields"
        (onSubmit)="onAddCategorySubmit()"
      ></app-form>
      <br />
    </div>

    <!-- Edit Category -->
    <div *ngIf="categoryAction === CategoryAction.EDIT" class="d-flex flex-column justify-content-center align-items-center">
      <h2>Edit Category</h2>
      <br />
      <p>Please enter a new name and description for the category</p>
      <app-form 
        [formGroup]="editCategoryForm" 
        [fields]="editCategoryFields"
        (onSubmit)="onEditCategorySubmit()"
      ></app-form>
      <br />
    </div>

    <!-- Delete Category -->
    <div *ngIf="categoryAction === CategoryAction.DELETE" class="d-flex flex-column justify-content-center align-items-center">
      <h2>Delete Category</h2>
      <br />
      <p>Are you sure you want to delete the category?</p>
      <br />
      <button class="btn btn-primary" (click)="onDeleteCategorySubmit()">Confirm</button>
      <br />
    </div>
  </ng-template>
</app-modal>
