/* You can add global styles to this file, and also import other style files */
.pointer {
  cursor: pointer;
}

.normalize-text {
  line-height: 1;
  padding: 0;
  margin: 0;
}

.normalize-icon {
  transform: translateY(2px);
}
