.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.dialog {
  background: #fff;
  min-width: 75vw;
  max-width: 95vw;
  padding: 1.5rem;
  border-radius: 8px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  border: none;
  background: none;
  font-size: 1.25rem;
  cursor: pointer;
  color: maroon;
  font-weight: 900;
}
