<div class="backdrop" *ngIf="visible" @fadeBackdrop (click)="onBackdropClick($event)">

	<div class="dialog" @fadeDialog>
		<!-- close button -->
    <button class="close-btn" (click)="close()">✕</button>

		<!-- modal content -->
    <div class="modal-content">
			<ng-content *ngTemplateOutlet="modalContent"></ng-content>
		</div>

		<!-- confirm/close buttons -->
		<div *ngIf="modalButtons" class="modal-footer d-flex flex-column flex-sm-row w-50">
			<button class="btn btn-secondary flex-fill w-sm-auto mx-2 my-2" (click)="close()">Close</button>
			<button class="btn btn-primary flex-fill w-sm-auto mx-2" (click)="confirm()">Confirm</button>
		</div>
  </div>

</div>



<!--
use like this in parent:

PARENT.COMPONENT.TS:
	import { Component, OnInit, inject, ViewChild, TemplateRef } from '@angular/core';
	@Component({
		selector: 'app-tags',
		imports: [ModalComponent],
		...
	})
	export class TagsPageComponent implements OnInit {
		@ViewChild('modalRef') modal!: ModalComponent;
		@ViewChild('modalContent') modalContent!: TemplateRef<any>;
	...
	this.modal.open(this.modalContent);



PARENT.COMPONENT.HTML:
	<app-modal #modalRef>
		<ng-template #modalContent>
			<h1 *ngIf="tagAction === TagAction.ADD">Add Tag</h1>
			<h1 *ngIf="tagAction === TagAction.EDIT">Edit Tag</h1>
			<h1 *ngIf="tagAction === TagAction.DELETE">Delete Tag</h1>
		</ng-template>
	</app-modal>
-->
