<div class="container">
  <app-list 
    [items]="(tagsList$ | async) ?? []" 
    title="TAGS"
    (onItemEdit)="onItemEdit($event)"
    (onItemAdd)="onItemAdd()"
    (onItemDelete)="onItemDelete($event)"
  ></app-list>
</div>

<app-modal #modalRef (confirmed)="onModalConfirm()">
  <ng-template #modalContent>
    <h1 *ngIf="tagAction === TagAction.ADD">Add Tag</h1>
    <h1 *ngIf="tagAction === TagAction.EDIT">Edit Tag</h1>
    <h1 *ngIf="tagAction === TagAction.DELETE">Delete Tag</h1>
  </ng-template>
</app-modal>